{
  "parser": "babel-eslint",
  "extends": ["react-app", "plugin:flowtype/recommended"],
  "plugins": ["flowtype"],
  "rules": {
    "flowtype/require-valid-file-annotation": [
      2,
      "always",
      {
        "annotationStyle": "line"
      }
    ]
  }
}
